venv/
__pycache__/
*.pyc
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
# Ignore large model weights and optimizer states
*.safetensors
*.pt
*.pth
*.bin
.env
.ipynb_checkpoints/
